.header {
  background-color: #03c75a;
  border-bottom: 1px solid #00af35;
  height: 48px;
  a {
    display: inline-block;
    &:nth-child(1) {
      padding: 11px 0 11px 12px;
    }
    &:nth-child(2) {
      padding: 11px 15px 12px 0;
    }
    .logo {
      width: 26px;
      height: 26px;
      background-position: 0 0;
    }
    .link {
      width: 40px;
      height: 26px;
      background-position: -26px 0;
    }
  }
}

.spr {
  background-image: url('../assets/spr_bi.png');
  background-size: 130px 154px;
  font-size: 0;
  overflow: hidden;
  display: inline-block;
  color: transparent;
  vertical-align: top;
  text-indent: 100%;
  white-space: nowrap;
}
